
img{
    width: 200px;
}
.btn{
    margin: 5px;
}
.media{
    margin: 30px;
    padding: 50px 30px 50px 80px;
    border-style: solid;
    border-radius: 8px;
    border-color: lightgreen;
}

#create{
    float: right;
}
span{
    float: right;
}