<div class="jumbotron" align = "center">
      <h1>Post Project</h1>
</div>
    <div class="form-group">
        <label for="projName">*Project Title: </label>
        <input type="text" class="form-control" id="projName" [(ngModel)] = "project.project_title"/>
    </div>
    <div class = "form-group">
        <label for="skills">*Required Skills: </label>
        <textarea class="form-control" rows="3"  id = "skills" [(ngModel)] = "project.req_skills"></textarea>
    </div>
    <div class="form-group">
        <label for="describe">*Project Description: </label>
        <textarea class="form-control" rows="10" id = "describe" [(ngModel)]="project.project_description"></textarea>
    </div>
    <div class="form-group">
        <label for="location">*Location: </label>
        <textarea class="form-control" rows="5" id = "location" [(ngModel)]="project.location"></textarea>
    </div>
    <div class="form-group">
        <label for="startdate">*Start Date: </label>
        <input type="date"  id="startdate" [(ngModel)]="project.start_date">
        <label for="enddate">*End Date:</label>
        <input type="date" id="enddate" [(ngModel)]="project.end_date">
    </div>
    <!--<div class="form-group">
        <label for="organization">Non-Profit: </label>
        <input type="text" class="form-control" id="organization" [(ngModel)]="end_date">
    </div>-->
    <div class="form-group">
        <label for="publishtime">Published at: </label>
        <input type="text" class="form-control" id="publishtime" [(ngModel)]="project.published_at">
    </div>
    <div class="form-group">
        <label for="remote">Remote Work? (Y/N):</label>
        <input type="checkbox" id="remote" [(ngModel)]="project.remote_work">
    </div>
    <div class="form-group">
        <label for="status">Completed?:</label>
        <input type="hidden" value="0" name="check[0]">
        <input type="checkbox" name="check[0]" id="status" value="1" [(ngModel)]="project.completed">
    </div>

<a class="btn btn-primary btn-block btn-lg" id="submitButton" routerLink="" (click) = "submit()"> Submit </a>
