<div class="jumbotron" align = "center">
      <h1>Post Project</h1>
</div>
<div id = "submitButton" align = "right">
    <button class = "btn btn-primary">Submit</button>
</div>
<form>
    <div class="form-group">
        <label for="projName">*Project Name:</label>
        <input type="text" class="form-control" id="projName">
    </div>
    <div class = "form-group">
        <label for="skills">*Skills Required:</label>
        <textarea class="form-control" rows="3"  id = "skills"></textarea>
    </div>
    <div class="form-group">
        <label for="describe">*Description:</label>
        <textarea class="form-control" rows="10" id = "describe"></textarea>
    </div>
    <div class="form-group">
        <label for="location">*Location</label>
        <textarea class="form-control" rows="5" id = "location"></textarea>
    </div>
    <div class="form-group">
        <label for="time">*Activity Time:</label>
        <input type="text" class="form-control" id="time">
    </div>
    <div class="form-group">
        <label for="remote">Remote Work?(Y/N)</label>
        <input type="text" class="form-control" id="remote">
    </div>
</form>