
h1{
  font-size: 100px;
  color: black;
  font-family:Times New Roman;
}

.jumbotron{
  margin-top: 50px;
  
}

#submitButton{
  
}

button.btn-primary{
  background-color: green;
  border: none;
  font-size: 30px;
}

div.form-group{
  margin-left: 200px;
  margin-right: 200px;
}

form{
  margin-top: 100px;
}

label{
  font-size:150%;
  color: black;
}

