<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">VolunteerMe</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Find Projects <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Non-profit List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Post Projects</a></li>
                        <li><a href="#">Edit Projects</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
<div class="container">
    <!--<ul class="nav nav-tabs" id="mylist">
        <li class="active"><a data-toggle="tab" href="#menu1"></a></li>
        <li><a data-toggle="tab" href="#menu2">Mustang Heroes</a></li>

        <!-- Large modal -->

        <!--<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">New Project</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                            <label for="recipient-name" class="control-label">Project Name</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" routerlink = "/">Cancel</button>
                        <button type="button" class="btn btn-primary" routerlink = "/">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </ul>-->

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <h1 id="myheader">Projects</h1>
            <table class="table table-striped" id="mytable">
                <thead>
                    <tr>
                        <!--<th>Image</th>-->
                        <th>Title</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Requirements</th>
                        <th>   </th>
                    </tr>
                </thead>
                <tbody *ngFor="let project of projects">
                    <tr>
                        <!--<td><img src="http://67.media.tumblr.com/31c6f48b20da2ebcd7974bb54c148461/tumblr_mw7dtm6Az91spqx5oo1_500.jpg" alt="Volunteer Comm. App Needed" style="width:304px;height:228px;"></td>-->
                        <td>{{ project.project_title }}</td>
                        <td>{{ project.project_description }}</td>
                        <td>{{ project.project_location }}</td>
                        <td>{{ project.start_date }}</td>
                        <td>{{ project.end_date }}</td>
                        <td>{{ project.req_skills }}</td>
                        <td><button type="button" class="btn btn-success" (click)="signUp(project)"> VolunteerMe </button></td>
                        <!--<td><img src="http://67.media.tumblr.com/31c6f48b20da2ebcd7974bb54c148461/tumblr_mw7dtm6Az91spqx5oo1_500.jpg" alt="Volunteer Comm. App Needed" style="width:304px;height:228px;"></td>
                        <td>2015-08-05T08:40:51.620Z</td>
                        <td>Volunteer Comm. App Needed</td>
                        <td>Need a more efficient way for mass communication for volunteers</td>
                        <td>Dallas, TX</td>
                        <td>2015-08-05</td>
                        <td>2015-11-05</td>
                        <td>iOS Devp., web devp., soft. eng.</td>-->
                    </tr>
                    <!--<tr>

                        <td><img src="http://dogecoin.com/imgs/dogecoin-300.png" alt="Donation App" style="width:304px;height:228px;"></td>
                        <td>2016-10-03T09:55:51.620Z</td>
                        <td>Donation App</td>
                        <td>Need a more efficient way for mass donation</td>
                        <td>Dallas, TX</td>
                        <td>2015-08-05</td>
                        <td>2015-11-05</td>
                        <td>Android Devp., web devp., UI/UX.</td>
                    </tr>-->
                </tbody>
            </table>
        </div>
        <!--<div id="menu2" class="tab-pane fade">
            <h1 id="myheader">Mustang Heroes</h1>
            <div class="well well-sm">No Project Found.</div>
        </div>-->
    </div>

</div>
